<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/app.css"/>
    <title>Rule 30</title>
</head>

<body ng-app="RuleVisualizer" ng-controller="RuleVisualizerController" ng-cloak>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href>Rule 30</a>
        </div>
        <form class="navbar-form navbar-right" role="search">
            <button class="btn btn-primary" ng-click="onStart()" ng-hide="running">Start</button>
            <button class="btn btn-danger" ng-click="onStop()" ng-show="running">Stop</button>
            <button class="btn btn-default" ng-click="onReset()">Reset</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <binary-grid grid="rule30.value"></binary-grid>
</div>

<!-- TODO Async load scripts / Grunt Build App-->
<script defer type="text/javascript" src="js/lib/lodash/lodash.min.js"></script>
<script defer type="text/javascript" src="js/lib/jquery/jquery-2.1.1.min.js"></script>
<script defer type="text/javascript" src="js/lib/bootstrap/bootstrap.min.js"></script>
<script defer type="text/javascript" src="js/lib/d3/d3.min.js"></script>
<script defer type="text/javascript" src="js/lib/angular/angular.min.js"></script>
<script defer type="text/javascript" src="js/lib/angular/angular-animate.min.js"></script>
<script defer type="text/javascript" src="js/lib/angular/angular-cookies.min.js"></script>
<script defer type="text/javascript" src="js/lib/angular/angular-route.min.js"></script>
<script defer type="text/javascript" src="js/lib/angular/angular-sanitize.min.js"></script>
<script defer type="text/javascript" src="js/app.js"></script>
<script defer type="text/javascript" src="js/services.js"></script>
<script defer type="text/javascript" src="js/controllers.js"></script>
<script defer type="text/javascript" src="js/directives.js"></script>

</body>
</html>
